extends ../layout

block content
    h1.
         #{title}
    a(href='/teachers/new') New
    br
    a(href='/teachers/') Index
    table
        tr
            td Name
            td badge
            td DOB
            td Sexy?
        - each teacher, i in teachers
            tr
                td= teacher.name
                td= teacher.badge
                td= teacher.dob
                td= teacher.sexy
                td
                    form(action='/teachers/#{teacher._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                        input(type='hidden',value='DELETE',name='_method')
                        button(type='submit').
                            Delete
                td
                    a(href='/teachers/#{teacher._id}/edit') Edit
                td
                    a(href='/teachers/#{teacher._id}') Show